/* Global */

.redux_field_th { padding-right: 40px; }

.redux-container-sortable label.bugger { display: none!important; }

/* Social Networks field */

#theme_options-opt-social-networks li { 
	display: inline-block; 
	width: 100%;
}
#theme_options-opt-social-networks label {
	float: left;
	width: 130px;	
}
#theme_options-opt-social-networks label strong { font-weight: normal; }
#theme_options-opt-social-networks br {
	display: none;
}


#theme_options-opt-social-networks .drag { opacity: 0; cursor: move; }
#theme_options-opt-social-networks li:hover .drag { opacity: 1; }

/* Slides field */
.redux-main .ui-accordion {
	width: 100%;
	padding: 5px;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 15px;
}
.redux-container-slides .redux-slides-accordion-group {
	border: none!important;
	padding: 0;
	margin: 0 0 5px 0;
	cursor: pointer;
}
.redux-container-slides .redux-slides-accordion-group:last-child { margin-bottom: 0; }
.redux-container-slides .redux-slides-add { margin-right: 0; }


fieldset[id$="_slides_display_mode"] label { margin-top: 0!important; margin-bottom: 20px!important; }
fieldset[id$="_slides_display_mode"] input[type=radio] { vertical-align: top; margin-top: 2px; }
fieldset[id$="_slides_display_mode"] img { float: right; margin-left: 20px; }
fieldset[id$="_slides_display_mode"] span { display: inline-block; max-width: 350px; }

/* Sidebar Header Options */

fieldset[id$="sidebar_header_icon"] img { height: 50px; width: 50px; }
fieldset[id$="sidebar_header_icon"] .redux-image-select { padding: 0 1px!important; }
