@media all and (min-width: 1280px) {
	li.portfolio-item .description { padding: 15px 60px; }
    
    /* Sidebars */
    #page-body.open-main-menu, body.open-sidebar #page-body.blog.open-main-menu { 
		-webkit-transform: translate3d(280px, 0, 0);
		transform: translate3d(280px, 0, 0);
	}
    #main-nav {
        -webkit-transform: translate3d(-280px, 0, 0);
		transform: translate3d(-280px, 0, 0);
        width: 280px;
    }
    
    #page-body.posts-gallery > .flexslider { width: calc(100% - 280px); }
    
    .sidebar { width: 280px; }
    
    #page-body.blog > .flexslider { width: calc(100% - 280px); }
    
    .sidebar.blog-sidebar { width: 280px; }
    
    #site-body.open-main-menu #page-inner > .sidebar {
        transform: translate3d(280px, 0, 0);
		-webkit-transform: translate3d(280px, 0, 0);
    }
    
    body.single .open-main-menu #toggle-sidebar, body.single .open-main-menu section.sidebar {
        -webkit-transform: translate3d(280px, 0, 0);
        transform: translate3d(280px, 0, 0);
    }
    
    body.open-sidebar .open-main-menu #page-body.single-post {
        transform: translate3d(280px, 0, 0);
		-webkit-transform: translate3d(280px, 0, 0);
    }
    
    body.single .sidebar .wrapper { max-width: 280px; }
    
    #page-body.shop .sidebar { width: 280px; }
}
