@media all and (max-width: 1023px) {
	.posts-gallery .slides {
		-ms-transform: translate(0, 0)!important;
	}
    #slider-main-desktop {
        display: none;
    }
}
.munich-gallery li.slide { -ms-transform: translate(0, 0); }
.sidebar.blog-sidebar, .sidebar.shop-sidebar { -ms-transform: translate(100%, 0); }
.sidebar.blog-sidebar.open, .sidebar.shop-sidebar.open { -ms-transform: translate(0, 0); }

#contact-map { -ms-transform: translate(100%, 0); }
#contact-map.open { -ms-transform: translate(0, 0); }

.spinner {
    background-size: 20px 20px;
    display: block;
    background-color: transparent;
    background: url("assets/images/gallery-loader.gif");
    z-index: 999;
}
.spinner > div { display: none; }


@media all and (min-width: 768px) {
    
    #page-body.open-main-menu { -ms-transform: translate(-300px, 0); }
    #main-nav { -ms-transform: translate(300px, 0); }
    #main-nav.open { -ms-transform: translate(0, 0); }
    
    body.open-sidebar #page-body.blog, body.open-sidebar #page-body.single-post, body.open-sidebar #page-body.single-product { -ms-transform: translate(-400px, 0); }
    .sidebar.blog-sidebar.open, .sidebar.shop-sidebar.open { -ms-transform: translate(0, 0); }
    
}

@media all and (min-width: 1024px) {
    
    #page-body.open-main-menu, body.open-sidebar #page-body.blog.open-main-menu { -ms-transform: translate(240px, 0); }
    #main-nav { -ms-transform: translate(-240px, 0); }
    #main-nav.open { -ms-transform: translate(0, 0); }
    
    #featured-projects.open { -ms-transform: translate(420px, 0); }
    .open-main-menu #featured-projects.open { -ms-transform: translate(420px, 0); }
    
    #work-bottom-bar.open #toggle-work-bottom-bar:before { -ms-transform: rotate(45deg); }
    
    section.blog-posts .post { -ms-transform: translate(0, 0); }
    section.blog-posts .post:hover { -ms-transform: translate(0, -48px); }
    
    body.open-sidebar #page-body.blog { -ms-transform: translate3d(0, 0); }
    .sidebar.blog-sidebar, .sidebar.shop-sidebar { -ms-transform: translate(0, 0); }
    #site-body.open-main-menu #page-inner > .sidebar { -ms-transform: translate(240px, 0); }
    
    body.open-comments #page-body.single-post { -ms-transform: translate(50%, 0); }
    body.single .open-main-menu #toggle-sidebar, body.single .open-main-menu section.sidebar { -ms-transform: translate(240px, 0); }
    
    body.open-sidebar #page-body.single-post { -ms-transform: translate(0, 0); }
    body.open-sidebar .open-main-menu #page-body.single-post { -ms-transform: translate(240px, 0); }
	body.single .sidebar { -ms-transform: translate(0, 0); }
    
    .contact.custom-page section.image .social { display: none; }

}

@media all and (min-width: 1280px) {
    
    #page-body.open-main-menu, body.open-sidebar #page-body.blog.open-main-menu { -ms-transform: translate(280px, 0); }
    #main-nav { -ms-transform: translate(-280px, 0); }
    #site-body.open-main-menu #page-inner > .sidebar { -ms-transform: translate(280px, 0); }
    body.single .open-main-menu #toggle-sidebar, body.single .open-main-menu section.sidebar { -ms-transform: translate(280px, 0); }
    body.open-sidebar .open-main-menu #page-body.single-post { -ms-transform: translate(280px, 0); }
    
}