/*********************/
	/*  My settings  */
	/*********************/

	.modal {
	    display:    none;
	    position:   fixed;
	    z-index:    1000;
	    top:        0;
	    left:       0;
	    height:     100%;
	    width:      100%;
	    background-color: rgba( 5, 5, 5, .8 ) ;
	   	-webkit-transition: all .25s ;
	   	   -moz-transition: all .25s ;
	   	    -ms-transition: all .25s ;
	   	     -o-transition: all .25s ;
	   	        transition: all .25s ;
	}

	.modal .panel {
		width: 100%;
		max-width: 860px;
		margin: 0 auto;
		margin-top: 50px;
		background-color: #000;
	}

	.modal .panel > p {
		width: 100%;
		display: block;
		text-align: right;
		height: 30px;
	}

	.modal .panel .close {
		cursor: pointer;
		color: #fff;
		margin-right: 5px;
		float: right;
		margin-top: -22px;
	}

	.modal .panel .intro-image {
		height: 450px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		border-bottom: 2px solid #f7f8f7;
		font-family: 'Oswald', sans-serif;
		text-shadow: 1px -1px #414141;
	}

	.modal .panel .intro-image > img {
		margin-top: 50px;
		margin-left: 100px;
		height: 60px;
	}

	.modal	.panel .intro-image .post-info {
		position: absolute;
		left: 20px;
		bottom: 10px;
	}

	.modal .panel .intro-image .post-info p {
		color: #f7f8f7;
		line-height: 0.8;
	}

	.modal .panel .footer {
		padding: 15px;
	}

	.modal .panel .footer p {
		font-size: 12px;
		font-family: 'Oswald', sans-serif;
	}

	.modal .panel .footer p img {
		vertical-align: middle;
		margin-left: 60px;
	}

	.modal .panel .footer p span {
		margin-right: 20px;
		color: #f7f8f7;
	}

	.footer-contact-info .button-contact {
		background-color: #c93535;
		color: #fff;
		padding: 5px 20px;
		border-radius: 30px;
		font-size: 12px;
		float: right;
		text-decoration: none;
		cursor: pointer;
		-webkit-transition: all .25s;
		   -moz-transition: all .25s;
		    -ms-transition: all .25s;
		     -o-transition: all .25s;
		        transition: all .25s;
	}

	.footer-contact-info .button-contact:hover {
		background-color: #df6363;
	}

	.footer-contact-info {
		background-color: #f9eaea;
		padding: 15px;
		display: inline-block;
		width: 100%;
		margin-top: 10px;

	}

	.footer-contact-info .content-holder {
		width: 70%;
		float: left;
		font-family: Georgia;
	}

	.footer-contact-info .button-holder {
		width: 30%;
		float: right;
		padding-top: 20px;
	}

	.post-header p {
		text-transform: uppercase;
		line-height: 1.25em;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		padding: 20px;
		color: #fff;
	}

	.post-header p a {
		text-decoration: none;
		cursor: pointer;
		color: #fff;
	}
	
	.post-header p:after {
		content: " ";
		display: block;
		margin: 20px auto 20px auto;
		height: 2px;
		width: 20px;
		background: #f64141;
	}


@media all and (min-width: 1024px) {

    #main-slider-mobile {
		display: none;
    }
    /*********************/
	/*  Site Body  */
	/*********************/
    
	#site-body {
		padding-left: 48px;
		padding-top: 0;
	}

	#page-body.open-main-menu, body.open-sidebar #page-body.blog.open-main-menu { 
		-webkit-transform: translate3d(240px, 0, 0); 
        transform: translate3d(240px, 0, 0); 
	}
	#page-body.distraction-free { left: -48px; width: calc(100% + 48px); }

	#site-header { left: 0; }

	#site-header, #site-header > .bar {
		width: 48px;
		height: 100%;
	}	
	#site-header > .bar { z-index: 9999; } 

	#site-header button#toggle-featured-projects { 
		background: transparent;
		bottom: 0;
		top: auto;
		left: 0;
		height: 48px; line-height: 48px;
		width: 48px;
		background-color: #c93535;
	}
	#site-header button#toggle-featured-projects:after {
		position: absolute;
		top: 0; left: 5px;
		width: calc( 100% - 10px );
		height: 1px;
		background: rgba(255, 255, 255, .125);
		margin: 0;
	}

	body.home #site-header button#toggle-featured-projects { 
		/* Hardcoded */
		background: #c93535;
	}
	body.home #site-header button#toggle-featured-projects:after { display: none; }

	/* Site logo */
	#main-nav .inner > a { 
		display: block;
		margin-bottom: 20px;
	}
	#site-header .bar > a > img { display: none; }

	/*********************/
	/*  Main Navigation  */
	/*********************/

	#main-nav {
		visibility: visible;
		left: 0;
		z-index: 99;
		top: 0;
		height: 100%;
		-webkit-transform: translate3d(-240px, 0, 0);
        transform: translate3d(-240px, 0, 0);
		-webkit-transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
        transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
		left: 48px;
		border-left: 1px solid rgba(255, 255, 255, .1);
		width: 240px;
		padding-left: 30px;
		padding-top: 30px;
		padding-bottom: 140px;
		overflow: visible;
		opacity: 1;
	}
	#main-nav.open {
		top: 0;
		-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
		-webkit-transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
        transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
	}

	#main-nav .wrapper { 
		position: relative;
		max-height: 100%;
		overflow: auto;
		box-sizing: border-box;
		margin: -30px -40px 0 -30px;
		padding: 30px 40px 0 30px;
	}

	#main-nav .inner, .social-networks, #main-nav #featured-works-label span, #main-nav footer, #main-nav #featured-works-label:after { opacity: 0; -webkit-transition: opacity .125s ease-in 0s; transition: opacity .125s ease-in 0s; }
	#main-nav.open .inner, #main-nav.open .social-networks, #main-nav.open #featured-works-label span, #main-nav.open footer, #main-nav.open #featured-works-label:after { opacity: 1; -webkit-transition: opacity .125s ease-in .25s; transition: opacity .125s ease-in .25s; }

	#page-body { -webkit-transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995); transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995); }

	#main-nav .inner > div { margin-left: -30px; }

	#main-nav .inner > div.nav-text {
		font-size: 1em;
		line-height: 1.5;
	}

	button#toggle-main-nav {
		height: calc(100% - 48px);
		width: 48px;
		top: 0;
		margin-top: 0;
		background: transparent;
	}
    
    #main-nav .menu li a { padding-left: 30px; }
    
    #main-nav .menu li.back { padding-left: 50px; }
    #main-nav .menu li.back:before { left: 30px; }

	#main-nav footer { position: absolute; bottom: 65px; }
	#main-nav footer ul { text-align: left; }
	#main-nav footer ul li:first-child { margin-left: 0; }

	/*********************/
	/*   Featured Works  */
	/*********************/

    #featured-works-label {
		display: block;
		height: 48px;
		width: calc(100% + 1px);
		position: absolute;
		bottom: 0;
		left: -1px;
		background: transparent;
		line-height: 48px;
		color: #fff;
		text-align: left;
		padding-left: 30px;
		box-sizing: border-box;
		font-family: "Montserrat", sans-serif;
		font-size: .92em;
		font-weight: 600;
	}
	#featured-works-label * { color: #fff; }
	#featured-works-label:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0; left: 5px;
		width: calc( 100% - 10px );
		height: 1px;
		background: rgba(255, 255, 255, .125);
		margin: 0;
	}

	body.home #featured-works-label { background-color: rgba(255, 255, 255, .05); }
    body.home #featured-works-label:after { display: none; }

	/* Featured Works */

	#featured-projects {
		opacity: 1;
		visibility: visible;
		max-height: 100%;
		-webkit-transition: -webkit-transform .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
        transition: transform .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
		overflow: visible;
        bottom: 0;
        top: auto;
	}
	html.touch #featured-projects { overflow: scroll; }
	#featured-projects.open {
		-webkit-transform: translate3d(420px, 0, 0);
		transform: translate3d(420px, 0, 0);
		top: auto; bottom: 0;
		-webkit-transition: -webkit-transform .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
        transition: transform .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
	}
	.open-main-menu #featured-projects.open {
		-webkit-transform: translate3d(420px, 0, 0);
		transform: translate3d(420px, 0, 0);
	}

	#featured-projects:after {
		content: ' ';
		position: absolute;
		display: block;
		left: calc(100% - 15px); top: 0;
		width: 93px; height: 100%;
		background-image: url("../../assets/images/featured-works-shadow.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		-webkit-transition: opacity .125s ease-in;
		-moz-transition: opacity .125s ease-in;
		-o-transition: opacity .125s ease-in;
		opacity: 0;
		z-index: 1;
		pointer-events: none;
	}
	html.touch #featured-projects:after { display: none; }
	

	#featured-projects ul {
		position: relative;
		top: 0;
	}
	#featured-projects li, #featured-projects .image, #featured-projects .content { height: calc((100vh - 60px) / 6); }

	#featured-projects .content p { font-size: 1.1em; }

	#featured-projects .image:before {
		content: ' ';
		display: block;
		position: absolute;
		top: -1px; left: 0;
		width: 100%; height: 102%;
		/* Hardcoded */
		background: #1d212d;
		-webkit-transition: opacity .125s ease-in;
		-moz-transition: opacity .125s ease-in;
		-o-transition: opacity .125s ease-in;
		opacity: 0.75;
	}
	#featured-projects li:hover .image:before { opacity: 0; }
    #featured-projects li.loading:hover .image:before { opacity: 0.75; }

	html.touch #featured-projects li .image:before { display: none; }

	@media all and (min-height:    0px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 95vh; height: calc((100vh - 40px)); } }
	@media all and (min-height:  280px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 47vh; height: calc((100vh - 40px) / 2); } }
	@media all and (min-height:  360px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 32vh; height: calc((100vh - 40px) / 3); } }
	@media all and (min-height:  480px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 24vh; height: calc((100vh - 40px) / 4); } }
	@media all and (min-height:  600px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 19vh; height: calc((100vh - 40px) / 5); } }
	@media all and (min-height:  720px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 15vh; height: calc((100vh - 40px) / 6); } }
	@media all and (min-height:  840px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 14vh; height: calc((100vh - 40px) / 7); } }
	@media all and (min-height:  960px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 11vh; height: calc((100vh - 40px) / 8); } }
	@media all and (min-height: 1080px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 10vh; height: calc((100vh - 40px) / 9); } }
	@media all and (min-height: 1200px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 8vh; height: calc((100vh - 40px) / 10); } }
	@media all and (min-height: 1320px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 8vh; height: calc((100vh - 40px) / 11); } }
	@media all and (min-height: 1440px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 7vh; height: calc((100vh - 40px) / 12); } }
	@media all and (min-height: 1560px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 7vh; height: calc((100vh - 40px) / 13); } }
	@media all and (min-height: 1680px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 6vh; height: calc((100vh - 40px) / 14); } }
	@media all and (min-height: 1800px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 6vh; height: calc((100vh - 40px) / 15); } }
	@media all and (min-height: 1920px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 5vh; height: calc((100vh - 40px) / 16); } }
	@media all and (min-height: 2140px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 5vh; height: calc((100vh - 40px) / 17); } }
	@media all and (min-height: 2280px) { #featured-projects li, #featured-projects .image, #featured-projects .content { height: 5vh; height: calc((100vh - 40px) / 18); } }

	#toggle-featured-projects.open { color: #fff; }

	/*********************/
	/*      Gallery      */
	/*********************/

	.munich-gallery .aspect-ratio { display: none; }

	/* Thumbs Gallery */
	.munich-gallery.thumb-nav {
		padding-bottom: 0;
	}
	.munich-gallery .description h6 { font-size: 1.85em; }
	.munich-gallery .description p { font-size: 1em; }

	.munich-gallery-thumbs { 
		overflow: visible;
		bottom: -70px; 
		-webkit-transition: bottom .125s cubic-bezier(0.880, 0.005, 0.390, 0.995); 
		transition: bottom .125s cubic-bezier(0.880, 0.005, 0.390, 0.995);
	}
	.thumbs-visible .munich-gallery-thumbs { bottom: 0; }

	.munich-gallery.thumb-nav .scroll-animation, .munich-gallery.thumb-nav .description { -webkit-transition: margin-bottom .125s ease-in; transition: margin-bottom .125s ease-in; }
	.thumbs-visible .munich-gallery.thumb-nav .scroll-animation, .thumbs-visible .munich-gallery.thumb-nav .description { margin-bottom: 70px; }
	
	.munich-gallery-thumbs:before {
		display: block;
		content: " ";
		position: absolute;
		bottom: 100%;
		width: 100%;
		height: 100%;
	}

	/*********************/
	/*   Posts Gallery   */
	/*********************/

	.posts-gallery .page.visible { height: 100%; }
	#page-body.posts-gallery { overflow: hidden; }
	#page-body.posts-gallery > .flexslider { height: 100%; width: calc(100% - 240px); }
	.posts-gallery .slides {  height: 100%; background: rgb(29, 33, 46); }
	.posts-gallery .slides > ul { height: 100%!important; }
	.posts-gallery-page { display: block; }

	.posts-gallery li.item {
		float: left;
		position: relative;
		height: 50%;
	}

	.posts-gallery .slides.few-items li.item { height: 100%; }

	/**
	 *  Pages with few items
	 */

	/* Item border */
	.posts-gallery li.item.bottom:after { border-bottom: none; }
	.posts-gallery li.item.right:after { border-right: 1px solid rgba(255, 255, 255, .25); }
	
	.posts-gallery li.item .image { height: 100%; }

	.posts-gallery li.item.top .description {
		top: 100%; bottom: auto;
	}

	/* Hidden Sidebar */
	#page-body.posts-gallery.sidebar-hidden > .flexslider { width: 100%; }
	#page-body.posts-gallery.sidebar-hidden nav .wrapper { display: none; }
	#page-body.posts-gallery.sidebar-hidden nav { top: auto; bottom: 0; height: 60px; }

	/*********************/
	/*      Sidebar      */
	/*********************/

	.sidebar { 
		position: absolute;
		display: block;
		right: 0; top: 0;
		width: 240px;
		height: 100%;
		box-sizing: border-box;
        background: -webkit-linear-gradient(left, rgba(29, 33, 45, 0.6) 0%, rgba(29,33,45,1) 90%) filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d91d212d', endColorstr='#1d212d',GradientType=1 );
        background: -webkit-linear-gradient(left, rgba(29, 33, 45, 0.6) 0%, rgba(29,33,45,1) 90%);
        background: linear-gradient(to right, rgba(29, 33, 45, 0.6) 0%, rgba(29,33,45,1) 90%);
        overflow: visible;
	}
    .theme-light .sidebar {
        background: -webkit-linear-gradient(left, rgba(29, 33, 45, 0.9) 0%, rgba(29,33,45,1) 90%) filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d91d212d', endColorstr='#1d212d',GradientType=1 );
        background: -webkit-linear-gradient(left, rgba(29, 33, 45, 0.9) 0%, rgba(29,33,45,1) 90%);
        background: linear-gradient(to right, rgba(29, 33, 45, 0.9) 0%, rgba(29,33,45,1) 90%);
    }
	body.blog .sidebar, body.search .sidebar {
		background: -webkit-linear-gradient(left, rgba(29, 33, 45, 0.85) 0%, rgba(29,33,45,1) 90%);
        background: linear-gradient(to right, rgba(29, 33, 45, 0.85) 0%, rgba(29,33,45,1) 90%);
        background: #1d212d url('../images/blog-title-bg.jpg') no-repeat top center;
	}
    .sidebar .wrapper:before {
        content: "";
        display: block;
        position: absolute;
        height: 62%;
        width: 100%;
        bottom: 0;
        background: -webkit-linear-gradient(top, rgba(29,33,45,0) 0%, rgba(29, 33, 45, 1) 18%, rgba(29,33,45,1) 37%, rgba(29,33,45,1) 100%);
        background: linear-gradient(to bottom, rgba(29,33,45,0) 0%,rgba(29, 33, 45, 1) 18%,rgba(29,33,45,1) 37%,rgba(29,33,45,1) 100%);
    }
    body.single .sidebar .wrapper:before { display: none; }

	.sidebar:after {
		content: ' ';
		position: absolute;
		display: block;
		left: -20px;
		top: 0;
		width: 20px;
		height: 100%;
		background-image: url("../../assets/images/sidebar-shadow.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		z-index: 2;
		pointer-events: none;
	}
	
	.one-page-portfolio .sidebar {
		background: #1d212d;
	}

	.sidebar .wrapper {
		height: 100%;
		display: block;
        position: absolute!important;
        padding-bottom: 48px;
        box-sizing: border-box;
	}

	.sidebar .title { 
		display: block;
		color: white;
		width: 100%;
		text-align: center;
		padding-left: 50px;
		padding-right: 50px;
		box-sizing: border-box;
		margin-top: 15px;
	}

	/* Sidebar Icon */
	.sidebar .title .text span:before { 
		font-size: 35px; line-height: 35px;
		display: block;
		margin: 0 auto 15px auto;
        padding-top: 60px;
		height: 35px; width: 35px;
		/* Hardcoded */
		color: #f64141;
	}
	.sidebar .title .text:after {
		content: " ";
		display: block;
		margin: 20px auto 20px auto;
		height: 2px; width: 20px;
		/* Hardcoded */
		background: #f64141;
	}

	/* Sidebar image */
	.sidebar .title .image { padding: 50px 40px; }
	.sidebar .title .image img {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.sidebar .title em {
		color: #858571;
		font-family: "Georgia", serif;
	}

	.sidebar .pagination {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
        /* Hardcoded */
        background: #1d212d;
	}

	.sidebar .pagination > span { width: 50%; }
	.sidebar .pagination > span > span { width: 15px; display: inline-block; }

	.sidebar .pagination button { width: 25%; }

	.sidebar ul {
		margin-left: -50px;
		margin-right: -50px;
		margin-top: 5px;
		max-width: calc(100% + 100px);
	}
	.sidebar ul li ul { margin-top: 0; }
	.sidebar ul li { 
		margin: 0;  
		max-width: 100%;
		padding: 0 20px;
	}
	.sidebar ul li:first-child { border-top: 1px solid rgba(255, 255, 255, .1); }
	.sidebar ul li:last-child { border-bottom: 1px solid rgba(255, 255, 255, .1); }
	.sidebar ul li.page_item_has_children:last-child { border-bottom: none; }

	.sidebar ul li a { padding: 10px 15px; }
    .sidebar ul li.recentcomments { padding-top: 10px; padding-bottom: 10px; }

	.sidebar ul.categories,
	.sidebar ul.product-categories { 
		height: auto;
		padding: 0;
		overflow: hidden;
        float: none;
	}
	.sidebar ul.categories li, 
	.sidebar ul.product-categories li { 
		width: 100%;
		margin: 0;
		border-left: none;
		border-right: none;
		border-bottom: none;
		text-align: center;
		border-radius: 0;
		float: none;
		display: block;
		padding: 7px 20px;
		box-sizing: border-box;
		height: 45px;
		position: relative;
	}
	.sidebar ul.categories li.current-term,
	.sidebar ul.product-categories li.current-term { background: rgba(255, 255, 255, .025); }

	.sidebar ul.categories li:last-child,
	.sidebar ul.product-categories li:last-child { border-bottom: 1px solid rgba(255, 255, 255, .10); }
	
	.sidebar ul.categories li a,
	.sidebar ul.product-categories li a {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		box-sizing: border-box;
		height: 45px; line-height: 45px;
	}

	/*************************/
	/*       Portfolio       */
	/*************************/

	.page-template-portfolio-php #site-header:after,
	.tax-work_type #site-header:after,
	.post-type-archive-portfolio #site-header:after { display: block; }

	/* Portfolio Sidebar */

	#page-body.portfolio .sidebar ul.categories,
	#page-body.shop .sidebar ul.categories { margin-left: 0; margin-right: 0; }
	

	/*************************/
	/*   Single Portfolio    */
	/*************************/

	.single-portfolio #site-body { height: calc(100% - 40px); }
	.single-portfolio #page-body { overflow: hidden; }

	.single-portfolio > nav { margin-top: 8px; }

	.single-portfolio #main-slider { 
		height: calc(100% - 48px)!important; 
		max-height: calc(100% - 48px); 
		transition: transform .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
		-webkit-transition: -webkit-transform .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
	}

	.single-portfolio .munich-gallery.keep-aspect-ratio, 
	.single-portfolio .munich-gallery.keep-aspect-ratio ul.slides, 
	.single-portfolio .munich-gallery.keep-aspect-ratio li.slide { height: 100%; }

	.single-portfolio #main-slider li { max-height: none; }

	#work-bottom-bar {
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 11;
		background: white;
		top: 100%;

		transition: transform .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
		-webkit-transition: -webkit-transform .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
	}

	#work-info {
		height: 48px;
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
		position: absolute;
		top: -48px;
        left: 0;
		background: inherit;
		padding: 10px 73px 10px 25px;
	}
	#work-info.no-info { padding: 10px 0 10px 25px; }

	
	#work-info:after { 
		content: " ";
		position: absolute;
		bottom: 0;
		left: 25px;
		width: 100%;
		height: 1px;
		background: #f0f0f0;
		opacity: 0;
	}
	#work-bottom-bar.open #work-info:after { opacity: 1; }

	#toggle-work-bottom-bar { 
		display: block;
		position: absolute;
		right: 0;
		top:0;
		height: 48px; width: 48px;
		font-size: 20px;
		border: none;
		color: #fff;
		outline: none;
		font-size: 1.2em;
		cursor: pointer;
		/* Hardcoded */
		background: #c93535;
	}
	#work-bottom-bar #toggle-work-bottom-bar:before {
		position: absolute;
		height: 16px;
		width: 16px;
		top: 50%;
		margin-top: -8px;
		left: 50%;
		margin-left: -8px;
		-webkit-transition: -webkit-transform .125s ease-in .25s;
		transition: transform .125s ease-in .25s;
	}
	#work-bottom-bar.open #toggle-work-bottom-bar:before {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#work-info hr { display: none; }
	#work-info h1 { font-size: 1.078em; line-height: 28px; float: left; width: auto; }
	
	#work-info .meta {
		width: 100%; 
		margin: 0; 
		text-align: right;
		white-space: nowrap; 
	}
	#work-info .meta li { 
		height: 28px; 
		line-height: 28px; 
		width: auto;
		margin-left: 40px;
		margin-right: 40px;
		padding-right: 0;
	}
	#work-info .meta li:after {
		content: " ";
		position: absolute;
		display: block;
		left: -40px; top: 0;
		height: 28px; width: 1px;
		background: #f0f0f0;
	}
	#work-info .meta li:first-child:after { display: none; }

	#work-description { 
		min-width: 0;
		max-width: 50%;
		margin:0; 
	}

	#related-works, #work-description {
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding-top: 25px;
		position: relative;
	}

	#related-works { 
		padding: 15px 15px 15px 0; 
		min-width: 50%;
	}
	#related-works:before { 
		content: " ";
		display: block;
		position: absolute;
		left: 0; top: 15px;
		height: calc(100% - 30px);
		width: 1px;
		background: #f0f0f0;
	}

	#related-works nav {
		width: 150px;
		float: left;
		height: 100%;
		padding-top: 20px;
		text-align: center;
	}
	#related-works nav h1 {
		display: block;
		width: 100%;
		text-align: center;
	}
	#related-works nav button, #related-works nav button.previous { display: inline-block; margin: 10px 1px 0 1px; }
	#related-works nav button.next:after { display: none; }

	#related-works .wrapper {
		width: calc(100% - 150px);
	}

	#related-works ul {  height: 100%; }
	#related-works img { min-height: 105px; }

	/*************************/
	/*         Blog          */
	/*************************/

	#page-body.blog { overflow: hidden; }
	#page-body.blog > .flexslider {
		height: 100%;
		width: calc(100% - 240px);
		margin: 0;
	}

	.blog-posts {
		height: 100%;
		overflow: hidden;
		background: rgb(29, 33, 46);
	}

	.blog-page {
		height: 100%;
	}

	section.blog-posts .post {
		width: 25%;
		height: 100%;
		float: left;
		padding: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
		-webkit-transition: -webkit-transform .125s ease-in;
		transition: transform .125s ease-in;
	}
	section.blog-posts .post:hover {
        -webkit-transform: translate3d(0, -48px, 0);
        transform: translate3d(0, -48px, 0);
	}

	/* Image */
	section.blog-posts .post .image {
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		background-repeat: no-repeat;
        overflow: hidden;
	}
	section.blog-posts .post .image:before {
		content: " ";
		display: block;
		position: absolute;
		height: 100%; width: 1px;
		top: 0; left: 0;
		background: rgba(255, 255, 255, .5);
	}
	section.blog-posts .post:first-child .image:before { display: none; }

	section.blog-posts .post .image:after {
		content: " ";
		display: block;
		position: absolute;
		top: -1px; left: -1px; right: -1px; bottom: -1px;
		background: #212329;
		opacity: .5;
		-webkit-transition: opacity .125s ease-in;
		transition: opacity .125s ease-in;
	}
	section.blog-posts .post:hover .image:after { opacity: 0; }

	/* Info */
	section.blog-posts .post h2 { font-size: 1.154em; }
    section.blog-posts .post .info {
		position: absolute;
		width: 100%;
		padding: 0;
		bottom: 0;
	}
	ul.blog-page li.post .info:after { 
		width: 1px;
		height: 80%;
		right: 0;
		left: auto;
		top: 10%;
		bottom: auto; 
		-webkit-transition: top .125s ease-in; 
		transition: top .125s ease-in;
	}
	section.blog-posts .post:hover .info:after {
		top: calc( 10% + 48px );
	}
	section.blog-posts .post:last-of-type .info:after { display: block; }

	section.blog-posts .post .info .date {
		right: auto;
		left: 50%;
		margin-left: -30px;
		top: -18px;
	}
	section.blog-posts .post .info .content { padding-top: 40px; }
    
    section.blog-posts .blog-posts .post ul.post-categories { margin-top: 10px; }
    section.blog-posts .post .info .content h2 { margin-top: 10px; text-transform: uppercase; }

	.blog-posts .post a.read-more {
		display: block;
		position: absolute;
		bottom: -48px;
		height: 48px;
		background: #1d212d;
		width: 100%;
		line-height: 48px;
		text-decoration: none;
		color: white;
		text-align: center;
		font-family: "Montserrat", sans-serif;
        -webkit-transition: color .0625s ease-in;
        transition: color .0625s ease-in;
        font-size: 0.923em;
	}
    .blog-posts .post a.read-more:hover { color: #858571; }

	.posts-gallery .load-more { display: none; }

	/* Blog Sidebar */

	body.open-sidebar #page-body.blog { 
				transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
	}
	#toggle-sidebar { display: none; }
	.sidebar.blog-sidebar, .sidebar.shop-sidebar {
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		width: 240px;
		top: 0;
		padding-top: 0;
		height: 100%;
	}
	.sidebar.blog-sidebar .title .text:after { margin-bottom: 10px; }
    
    #page-inner > .sidebar {
        -webkit-transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
        transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
        overflow: visible;
    }
    #site-body.open-main-menu #page-inner > .sidebar {
        transform: translate3d(240px, 0, 0);
		-webkit-transform: translate3d(240px, 0, 0);
    }

	/*************************/
	/*      Single Blog      */
	/*************************/

	body.open-comments #page-body.single-post {
		transform: translate3d(50%, 0, 0);
		-webkit-transform: translate3d(50%, 0, 0);
	}

	#page-body.single-post {
		height: 100%;
		width: 100%;
		overflow: visible;
	}

	/* Sidebar, Comments toggle buttons */
	body.single .toggle-button { z-index: 10; cursor: pointer; outline: none; }
	body.single #toggle-sidebar {
		display: block;
		position: absolute;
		top: 25px;
		right: 25px;
		background: transparent;
		border-radius: 0;
		margin: 0;
        -webkit-transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
        transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
	}
    body.single .open-main-menu #toggle-sidebar, body.single .open-main-menu section.sidebar {
        -webkit-transform: translate3d(240px, 0, 0);
        transform: translate3d(240px, 0, 0);
    }
    
	body.single #toggle-sidebar.toggle-button .bar { 
		background: black; 
		width: 22px; margin-left: -11px;
		-webkit-transition: all .25s ease-in;
		transition: all .25s ease-in;
	}
	body.single #toggle-sidebar.toggle-button.open .bar { background: white; }

	/* Gallery */

	.single-post #main-slider {
		position: absolute;
		height: 100%!important;
		width: 50%;
	}

	.single-post .munich-gallery .gallery-meta { top: 0; padding-top: 70px; padding-left: 75px; padding-right: 150px; }

    .munich-gallery .gallery-meta h1 { max-width: 350px; }
	.munich-gallery .gallery-meta span { font-size: 0.923em; }
	.munich-gallery .gallery-meta span.author { padding-left: 20px; }
	.munich-gallery .gallery-meta span.author:before { left: 7px; }

	.munich-gallery .posts-nav { 
		margin: 0 75px; 
		width: calc(100% - 150px);
	}
    


	/* Post Content */
	body.single article.post {
		position: absolute;
		left: 50%;
		width: 50%;
		height: 100%;
		padding: 0;
		overflow: auto;
	}
	body.single article.post .inner {
		height: 100%;
		width: 100%;
		overflow: auto;
		box-sizing: border-box;
		padding: 30px 70px 0 40px;
	}
    body.single article.post .mCSB_container {
        height: 100%;
    }

	/* Comments */

	section.comments {
		margin: 0 -70px 0 -70px;
        padding-left: 70px;
        padding-right: 70px;
	}
    
    section.comments ol.commentlist { padding-top: 0; }
    section.comments ol.commentlist:after { display: none; }
    
    h2#toggle-comments, h2#toggle-reviews {
        margin: 0;
        padding: 20px 0;
    }
    h2#toggle-comments:before { right: 70px; }
    h2#toggle-reviews:before { right: 35px; }
    
	section.comments h6 { 
		font-size: 1.23em; 
		color: black;
	}
	section.comments h6:after { display: none; }

	section.comments #respond { 
		position: relative; 
		margin-left: -70px;
		margin-right: -70px;
		padding-right: 70px;
		padding-left: 70px;
	}

	/* Sidebar */
	body.open-sidebar #page-body.single-post {
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
	}
    body.open-sidebar .open-main-menu #page-body.single-post {
        transform: translate3d(240px, 0, 0);
		-webkit-transform: translate3d(240px, 0, 0);
    }
    
	body.single .sidebar {
		top: 0; 
		width: calc(50% - 24px);
		height: 100%;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995), visibility 0s linear .25s;
		-webkit-transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995), visibility 0s linear .25s;
		background: #1d212d;
		visibility: hidden;
		opacity: 0;
	}
	body.single .sidebar.open {
		visibility: visible;
		opacity: 1;
		transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
		-webkit-transition: all .25s cubic-bezier(0.880, 0.005, 0.390, 0.995);
	}

	body.single .sidebar .title .text:after {
		margin: 40px auto 20px auto;
		height: 1px;
		width: 25px;
	}
	body.single .sidebar .wrapper {
		margin: 0 auto;
		max-width: 240px;
		height: auto;
        position: relative!important;
	}
	body.single-post .sidebar ul li:first-child { border-top: none; }
	body.single-post .sidebar ul li:last-child { border-bottom: none; }

	/*********************/
	/*   Custom Page     */
	/*********************/

	#page-body.custom-page { overflow: hidden; }
    #page-body.custom-page > section {
		width: 50%;
		height: 100%;
		float: left;
	}

	.custom-page section.content {
		padding: 25px;
		overflow: auto;
	}

	#page-body.contact > section.content { 
        position:relative; 
        float: right; 
    }

	/*********************/
	/*     Contact       */
	/*********************/

    
	.contact.custom-page section.image.desktop {
        display: block;
        position: relative;
        left: 0;
        top: 0;
        overflow: hidden;
	}
    .contact.custom-page section.image.mobile { display: none; }
    
    #contact-map-desktop { position: absolute; top: 0; right: 0; }

	div.wpcf7 {
		padding: 25px 50px;
		margin-left: -50px;
		margin-right: -50px;
		margin-bottom: -35px!important;
	}

	.contact.custom-page section.image .social { 
		height: 50%; /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,33,45,0)), color-stop(100%,rgba(29,33,45,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(29,33,45,0) 0%,rgba(29,33,45,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
		background: -webkit-linear-gradient(top, rgba(29,33,45,0) 0%, rgba(29,33,45,1) 100%);
		background: linear-gradient(to bottom,  rgba(29,33,45,0) 0%,rgba(29,33,45,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d212d', endColorstr='#1d212d',GradientType=0 ); /* IE6-9 */
	}
	.contact.custom-page section.image .social-networks-wrapper {
		bottom: 10px;
		position: absolute;
		width: 100%;
	}
	.contact.custom-page section.image .social-networks {
		padding: 0;
		text-align: center;
	}
	.contact.custom-page section.image .social li { border-color: rgba(255, 255, 255, .125); }
    
    /*********************/
	/*       Shop        */
	/*********************/
    
    #page-body.shop { padding-top: 0; }
    
    #page-body.shop .sidebar {
        height: 100%;
        width: 240px;
        right: 0;
        left: auto;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(29,33,45,0.85)), color-stop(60%,rgba(29,33,45,1)));
        background: -webkit-linear-gradient(left, rgba(29,33,45,0.85) 0%,rgba(29,33,45,1) 60%);
        background: -webkit-linear-gradient(left, rgba(29,33,45,0.85) 0%, rgba(29,33,45,1) 60%);
        background: linear-gradient(to right, rgba(29,33,45,0.85) 0%,rgba(29,33,45,1) 60%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d91d212d', endColorstr='#1d212d', GradientType=1 );
        text-align: center;
    }
    .shop .cart { height: auto; }
    
    #cart-content .inner { padding-bottom: 2px; }
    
    .shop .cart.open #cart-content { position: relative; }
    ul#cart-items {
        width: 100%; 
        margin: -5px 0 0 0;
    }
    
    .shop .sidebar .widgets { display: block; }
    #cart-links { padding-top: 0; }
    #cart-links:before { top: 3px; }
    
    #cart-toggle-wrapper { padding-right: 0; }
}


@media all and (max-width: 1023px) {
	 #main-slider-desktop {
        display: none !important;
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    #page-body.contact > section.content { overflow: visible; }
    .contact.custom-page section.image {
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }
    .munich-gallery-thumbs { overflow: auto; overflow-y: hidden; }
}


@media (max-width: 768px) {
	 .footer-contact-info .content-holder {
		width: 100%;
	}

	.single-portfolio .slider-wrapper > nav {
		bottom: 5px;
    }

	.footer-contact-info .button-holder {
		width: 100%;
	}

	.footer-contact-info .button-contact {
		float: left;
	}
}