@media all and (min-width: 768px) {
    
    /* Site body */
    
	body {
		position: relative;
	}
	#site-body {
		position: absolute;
		top: 0; left: 0;
		height: calc(100% - 40px); width: calc(100% - 40px);
		overflow: hidden;
		margin: 20px;
	}
    body.admin-bar #site-body { height: calc(100% - 72px); }
    
	/* Page body */
    
	#page-body {
		transition: transform .125s ease-in;
		-webkit-transition: -webkit-transform .125s ease-in;
	}
	#page-body.open-main-menu {
		transform: translate3d(-300px, 0, 0);
		-webkit-transform: translate3d(-300px, 0, 0);
		-moz-transform: translate3d(-300px, 0, 0);
		-o-transform: translate3d(-300px, 0, 0);
	}

	/* Site header */
	#site-header { -webkit-transition: height .0s ease-in .125s, opacity .125s ease-in; transition: height .0s ease-in .125s, opacity .125s ease-in; }
	#site-header.open { -webkit-transition: none; transition: none; }
	#site-header.open.open-main-menu:before { display: none; }

	/* Main Navigation */
	#main-nav {
		width: 300px;
		top: 60px;
		transform: translate3d(300px, 0, 0);
		-webkit-transform: translate3d(300px, 0, 0);
		-moz-transform: translate3d(300px, 0, 0);
		-o-transform: translate3d(300px, 0, 0);
		transition: transform .125s ease-in, visibility 0s ease-in .125s;
		-webkit-transition: -webkit-transform .125s ease-in, visibility 0s ease-in .125s;
		opacity: 1;
	}
	#main-nav.open {
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transition: transform .125s ease-in;
		-webkit-transition: -webkit-transform .125s ease-in;
	}
    
    #main-nav > .wrapper {
        margin: -30px -40px 0 -40px;
        padding: 30px 40px 0 40px;
    }

	#main-nav .inner > div {
		margin-right: -40px;
		margin-left: -40px;
	}
	#main-nav .inner > div.nav-text { margin-right: 0; margin-left: 0; }

	#main-nav .menu li.back { padding-left: 60px; }
    #main-nav .menu li.back:before { left: 40px; }
    
    #main-nav .menu li a { padding-left: 40px; }

	#main-nav footer { margin-left: -6px; }
    
    .social-networks-wrapper { 
        margin-right: -10px; 
        margin-left: -10px; 
    }

	/* Forms */

	form p.field {
		float: left;
		width: 47%;
		margin-right: 6%;
	}
	form p.field:nth-of-type(even) { margin-right: 0; }

	/*********************/
	/*  Munich Gallery   */
	/*********************/

	.munich-gallery .gallery-meta { 
		padding-left: 50px; 
		padding-right: 250px; }

	.munich-gallery .posts-nav {
		position: absolute;
		bottom: 6px;
		height: 20px;
		width: calc(100% - 100px);
		z-index: 2;
		padding: 10px 0;
		margin: 0 50px;
	}

	.munich-gallery .posts-nav div { position: relative; }
	.munich-gallery .posts-nav div:before { 
		color: white; 
		position: absolute;
		top: 5px;
		right: 0;
		font-size: 0.925em;
	}

	.munich-gallery .posts-nav div.older { 
		float: right; 
		padding-right: 20px;
	}
	.munich-gallery .posts-nav div.newer { 
		float: left; 
		padding-left: 20px;
	}
	.munich-gallery .posts-nav div.newer:before { left: 0; right: auto; }

	.munich-gallery .posts-nav a { 
		color: white; 
		font-weight: 600;
        font-family: "Montserrat", sans-serif;
	}

	/* Featured Works */
	#featured-projects {
		width: 420px;
		right: 0;
		left: auto;
		overflow: scroll;
	}
	#featured-projects li, #featured-projects .image, #featured-projects .content {
		height: 15vh;
		height: calc((100vh - 100px) / 6);
	}

	/*************************/
	/*       Homepage        */
	/*************************/

	#homepage-logo-wrapper { left: 55px; right: 55px; bottom: 60px; }
	.on-first-slide #homepage-logo-wrapper { bottom: 100px; }

	/* Galleries */

	/* Description and navigation bullets */

	.munich-gallery .description { 
		margin-left: 0;
		padding: 20px;
		width: 380px;
	}
	.munich-gallery .description { bottom: 35px; }
	.munich-gallery.desc-box-1 .description { bottom: 25px; padding-bottom: 40px; }

	.munich-gallery .flex-control-nav { bottom: 25px; }
	.munich-gallery.desc-box-1 .flex-control-nav { bottom: 45px; }

	.munich-gallery.desc-box-1 .scroll-animation { bottom: 40px; }

	/* Bottom Left */
	.munich-gallery.desc-align-bottom-left .description { left: 35px;  text-align: left; }
	.munich-gallery.desc-align-bottom-left .flex-control-nav { width: auto; left: 52px; }

	.munich-gallery.desc-box-1.desc-align-bottom-left .description { left: 25px; }
	.munich-gallery.desc-box-1.desc-align-bottom-left .flex-control-nav { left: 42px; }

	/* Bottom Middle */
	.munich-gallery.desc-align-bottom-middle .description { left: 50%; margin-left: -190px; }
	
	/* Bottom Right  */
	.munich-gallery.desc-align-bottom-right .description { right: 35px; left: auto; text-align: right; }
	.munich-gallery.desc-align-bottom-right .flex-control-nav { width: auto; right: 52px; left: auto; }

	.munich-gallery.desc-box-1.desc-align-bottom-right .description { right: 25px; }
	.munich-gallery.desc-box-1.desc-align-bottom-right .flex-control-nav { right: 42px; }

	/*************************/
	/*    Posts Gallery      */
	/*************************/

	.posts-gallery li.item {
		float: left;
		width: 25%;
		position: relative;
		height: 250px;
	}
	.posts-gallery li.item.wide { width: 50%; }

	/* Items overlay */
	.posts-gallery li.item .overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        overflow: hidden;   
    }
    .posts-gallery.overlays-hidden  li.item .overlay { display: none; }
    
    .posts-gallery li.item .overlay:before {
		display: block;
        content: ' ';
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: rgb(33, 35, 41);
        z-index: 2;
        -webkit-transition: opacity .125s ease-in;
        transition: opacity .125s ease-in;
        opacity: .8;
	}
    .posts-gallery.theme-light li.item .overlay:before { background: white; opacity: .25; }

	html.no-touch .posts-gallery li.item:hover .overlay:before, .posts-gallery li.item.focused .overlay:before { opacity: 0; }

	/* Items Borders */
	.posts-gallery li.item:after {
		content: " ";
		display: block;
		position: absolute;
		bottom: 0; left: 0; top: 0; right: 0;
		border-right: 1px solid rgba(255, 255, 255, .25);
		border-bottom: 1px solid rgba(255, 255, 255, .25);
		z-index: 4;
	}

	.posts-gallery li.item ul:last-child li.item.bottom:after { border-bottom: none; }
	
	.posts-gallery li.item.right:after { border-right: none; }

	.posts-gallery li.item .image {
		height: 250px;
		z-index: 1;
		position: relative;
	}

	.posts-gallery li.item .description {
		position: absolute;
		bottom: 100%; top: auto;
		opacity: 0;
		z-index: 5;
		width: 100%;
		box-sizing: border-box;
		-webkit-transition: opacity .125s ease-in;
		transition: opacity .125s ease-in;
		visibility: hidden;
		text-align: center;
		max-width: 100%;
		padding: 15px 30px;
	}
    
	html.no-touch .posts-gallery li.item:hover .description, .posts-gallery li.item.focused .description {
		opacity: 1;
		visibility: visible;
	}
	#page-1 li.item.top .description { top: 100%; bottom: auto; }
    
    
	.posts-gallery li.item.wide .description { padding-left: 25%; padding-right: 25%; }

	/*************************/
	/*       Portfolio       */
	/*************************/

	.portfolio-page { width: 100%; float: left; }

	/* Portfolio page navigation */

	.sidebar {
		width: 100%;
		height: 60px;
		display: inline-block;
	}
	.sidebar .wrapper { 
        display: inline-block; 
        width: 100%;
    }
	.sidebar ul.categories {
		width: 100%;
		float: left;
		height: 60px;
		overflow: auto;
		box-sizing: border-box;
		white-space: nowrap;
		padding: 0 10px;
		line-height: 60px;
		text-align: left;
	}
	.sidebar ul.categories li {
		height: 35px; line-height: 35px;
		margin: 0 5px;
	}
	.sidebar ul.categories li a { padding: 0 15px; }

	/*************************/
	/*   Single Portfolio    */
	/*************************/

	.single-portfolio #page-body { overflow: scroll; }
	.single-portfolio #main-slider { 
		height: 400px; 
		max-height: 800px;
	}
	.single-portfolio #main-slider li { max-height: 800px; }

	#work-info .meta li { 
		width: 33%;
		display: inline-block;
		box-sizing: border-box;
		padding-right: 10px;
	}

	/*************************/
	/*         Blog          */
	/*************************/

	#page-body.blog { overflow: scroll; }

	.post .info {
		min-height: 200px;
		width: 50%;
		box-sizing: border-box;
		padding: 35px 30px;
		text-align: center;
	}

	.post .date {
		right: -30px;
		left: auto;
		height: 100px;
		top: 50%;
		margin-top: -50px;
	}
	
    ul.blog-page li.post .info:after{
		content: " ";
		display: block;
		position: absolute;
		width: auto; height: 1px;
		bottom: 0; 
		left: 50px; right: 50px;
		background: #e5e5e5;
	}
	ul.blog-page:last-of-type li.post:last-of-type .info:after { display: none; }

	.post .image {
		position: absolute;
		width: 50%; right: 0;
		height: 100%;
	}
    
    
    section.blog-posts .post .info .content h2 { margin-bottom: 0; }
	.blog-posts .post .excerpt { 
		display: block; 
		position: relative;
		padding-top: 30px;
	}
	/*.blog-posts .post .excerpt:before {
		content: " ";
		display: block;
		position: absolute;
		width: 20px; height: 1px;
		top: 15px; 
		left: 50%; margin-left: -10px;
		/* Hardcoded */
		/*background: #c93535;*/
	}*/

	/* Blog Sidebar */

	body.open-sidebar { 
		position: relative; 
	}
	body.open-sidebar #page-body.blog, body.open-sidebar #page-body.single-post, body.open-sidebar #page-body.single-product {
		transform: translate3d(-400px, 0, 0);
		-webkit-transform: translate3d(-400px, 0, 0);
	}

	.sidebar.blog-sidebar, .sidebar.shop-sidebar {
		position: absolute;
		right: 0; left: auto;
		width: 400px;
		max-height: 100%;
		box-sizing: border-box;
		transition: transform .125s cubic-bezier(0.880, 0.005, 0.390, 0.995);
		-webkit-transition: -webkit-transform .125s cubic-bezier(0.880, 0.005, 0.390, 0.995);
		transform: translate3d(400px, 0, 0);
		-webkit-transform: translate3d(400px, 0, 0);
	}
	.sidebar.blog-sidebar.open, .sidebar.shop-sidebar.open {
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
	}
	
	#toggle-sidebar { right: 20px; }

	/*************************/
	/*      Blog Single      */
	/*************************/

	#page-body.single-post { overflow: scroll; }
	.single-post #main-slider {
		height: 420px!important;
	}

	/* Post */

	article.post {
		padding: 35px 50px;
		padding-bottom: 0;
	}

	/* Comments */

	section.comments {
		margin: 0 -50px 0 -50px;
		padding-left: 50px;
		padding-right: 50px;
	}
    
    h2#toggle-comments, h2#toggle-reviews { margin: 0; padding: 20px 0; }
    
	.comment-wrap {
		position: relative;
		padding-left: 75px;
		min-height: 55px;
	}
	.comment-wrap img.avatar {
		display: block;
		position: absolute;
		top: 0; left: 0;
		height: 55px; width: 55px;
		border-radius: 4px;
		margin-top: 0;
	}
	section.comments ul.children { padding-left: 25px; }

	/* Comment Form */

	section.comments #respond { 
		padding: 30px 50px;
		margin-right: -50px;
		margin-left: -50px;
	}

	/*********************/
	/*   Custom Page     */
	/*********************/

	#page-body.custom-page { overflow: auto; }
    
	#page-body.custom-page > section {
		padding: 50px 50px 0 50px;
	}
	.custom-page section.image {
		height: 320px;
	}

	/*********************/
	/*     Contact       */
	/*********************/

	.contact.custom-page section.image.mobile {
		margin-left: -50px;
		margin-right: -50px;
	}
	.contact.custom-page section.image .social { /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,33,45,0.9)), color-stop(100%,rgba(29,33,45,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(29,33,45,0.9) 0%,rgba(29,33,45,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
		background: -webkit-linear-gradient(top, rgba(29,33,45,0.9) 0%, rgba(29,33,45,1) 100%);
		background: linear-gradient(to bottom,  rgba(29,33,45,0.9) 0%,rgba(29,33,45,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61d212d', endColorstr='#1d212d',GradientType=0 ); /* IE6-9 */
	}
	.contact.custom-page section.image .social-networks {
		text-align: left;
		padding-left: 10px;
	}

	div.wpcf7 { margin-left: -50px; margin-right: -50px; }
    
    /*********************/
	/*       Shop        */
	/*********************/
    
    #page-body.shop { 
        overflow: scroll; 
        margin-top: 0;
        padding-top: 45px;
    }
    
    #page-body.shop .sidebar {
        height: 45px;
        top: 0;
        left: 0;
        /* Hardcoded */
        background: #c93535;
        text-align: right;
    }
    #cart-content .inner { 
        display: inline-block; 
        margin: 0; 
        padding: 10px;
    }
    #cart-toggle-wrapper { padding-right: 21px; }
    
    
	/* Shop Descriptions */
	
	.posts-gallery li.shop-item .description { 
		padding-bottom: 55px;
		padding-top: 23px;
	}
    .posts-gallery li.shop-item.top .description { padding-top: 55px; padding-bottom: 15px; }

	.posts-gallery li.shop-item .price-wrapper { top: auto; bottom: 0; height: 45px; }
    .posts-gallery li.shop-item.top .price-wrapper { top: 0; }
    .posts-gallery li.shop-item.top .price-inner a { top: auto; }
    .posts-gallery li.item.bottom .price-inner a:active,
    .posts-gallery li.shop-item .added_to_cart { top: 100%; }
    
    .posts-gallery li.item .price-inner, .posts-gallery li.item span.price { 
        height: 45px; 
        box-sizing: border-box;
        padding-top: 0; padding-bottom: 0;
    }
    .posts-gallery li.item span.price span { line-height: 45px; padding-top: 0; padding-bottom: 0; }
    
    
	.posts-gallery li.shop-item .add_to_cart_button { top: 100%; }


	.posts-gallery .slides .categories { margin-top: 5px; }
	.posts-gallery .slides .categories:before { display: none; }
    
}