/**************************/
/* Visual Composer Styles */
/**************************/

.vc_row.no-margins {
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: 0;
}

.wpb_image_grid .wpb_image_grid_ul .isotope-item { 
	width: 150px;
	max-width: 50%!important;
	margin: 0!important;
	padding: 5px;
	margin: 5px;
	background: #ececec;
	box-sizing: border-box;
	border: 5px solid #fff;
}

/* Call to action button */
.wpb_call_to_action {
	border: none !important;
	padding: 25px !important;
	line-height: 20px;
}
h2.wpb_call_text { 
	font-family: "Open Sans", sans-serif;
	font-size: 1em; 
	font-weight: 400;
	text-align: left;
	line-height: 1.5;
    /* Hardcoded */
    color: #6a6a6a;
}

/* Porgress bars */
.vc_progress_bar {
	margin-top: 48px;
}
.vc_progress_bar .vc_single_bar {
	margin-top: 40px;
	border-radius: 10px !important;
	background-color: #eaeaea !important;
	height: 15px;
}
.vc_progress_bar .vc_single_bar .vc_label {
	top: -25px;
	left: 0;
	padding: 0 !important;
	font-size: 13px;
	color: #696969!important;
	text-shadow: none!important;
}
.vc_progress_bar .vc_single_bar .vc_bar {
	border-radius: 10px !important;
	border-bottom: 1px solid #c2c2c2;
	height: 14px !important;
}
.vc_progress_bar .vc_single_bar .vc_bar:before {
	content: attr(data-percentage-value) "%";
	display: block;
	position: absolute;
	right: -10px;
	top: -19px;
	padding: 2px 8px;
	line-height: 1; height: 16px; width: 40px;
	box-sizing: border-box;
	text-align: center;
	background: red;
	border-radius: 3px;
	color: #fff;
	font-size: 0.846em;
	/* Hardcoded */
	background: #1d212d;
	z-index: 2;
}
.vc_progress_bar .vc_single_bar .vc_bar:after {
	content: " ";
	position: absolute;
	display: block;
	top: -3px;
	right: 5px;
	z-index: 2;
	
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #1d212d;
}

.vc_progress_bar .vc_single_bar .vc_bar .label {
	position: absolute;
	font-size: 12px;
	background-color: black;
	top: -22px;
	right: 0px;
	padding: 1px 10px;
	color: white;
	border-radius: 3px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.vc_progress_bar .vc_single_bar .vc_bar .label:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
}
.vc_progress_bar .vc_single_bar .vc_bar .label span {
	color: #b1b1b1;
}
.vc_label_units {
	display: none;
}
/*  Tabs  */

.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab, .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
	padding-left: 25px!important;
	padding-right: 25px!important;
}
.wpb_tabs .wpb_tabs_nav li a { padding-left: 25px!important; }


.wpb_tab {
	border: 1px solid #eceded;
	padding-top: 30px !important;
	padding-bottom: 30px !important;
	position: relative;
	z-index: 1;
}
.wpb_tabs .wpb_tabs_nav li {
	position: relative;
	font-size: 13px;
	font-weight: 600;
	border: 1px solid #eceded;
	background-color: #f6f6f6 !important;
	margin: 0 -1px -1px 0 !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
	z-index: 2;
	list-style-type: none;
}
.wpb_tabs .wpb_tabs_nav li a {
	color: black;
	padding: .75em 1em !important;
}
.wpb_tabs .wpb_tabs_nav li.ui-state-focus,.wpb_tabs .wpb_tabs_nav li.ui-state-active {
	background-color: white !important;
	border-bottom-color: white;
}
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab { background-color: white!important; }

/* Accordion */
.wpb_accordion { border-bottom: 1px solid #ececec; }
.wpb_accordion_section {
	border: 1px solid;
	border-color: #eceded;
	border-bottom: none;
}
.wpb_accordion_section:first-child {
	border-top: 1px solid;
	border-color: #eceded;
}
.wpb_accordion_header {
	margin-bottom: 0!important;
	outline: none !important;
	transition: background-color .125s ease-in;
}
.wpb_accordion_header.ui-state-active { 
	background-color: white!important;
}

.wpb_accordion_section h3 a {
	font-size: 1em;
	font-weight: 600;
	color: #010409;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	padding-right: 40px!important;
	padding-left: 25px!important;
}


.ui-icon-triangle-1-e,.ui-icon-triangle-1-s {
	background-image: none !important;
	position: absolute!important;
	right: 0!important; top: 0!important;
	width: 40px!important;
	height: 100%!important;
	cursor: pointer;
}

.ui-icon-triangle-1-e:after, .ui-icon-triangle-1-s:after, .ui-icon-triangle-1-e:before {
	content: " ";
	display: block;
	position: absolute;
	top: 50%; margin-top: -1px;
	left: 50%; margin-left: -6px;
	height: 2px;
	width: 12px;
	background: #cdcdcd;
}
.ui-icon-triangle-1-e:before {
	height: 12px; width: 2px;
	margin-top: -6px; margin-left: -1px;
}

.wpb_accordion_content { padding-top: 0!important; }
.wpb_accordion_content *:last-child { margin-bottom: 10px!important; }

.wpb_call_to_action {
    /* Hardcoded */
	background-color: rgba(201, 53, 53, 0.1)!important;
	text-align: center;
}
.wpb_call_to_action .wpb_button {
	border: none;
    /* Hardcoded */
	background-color: rgba(201, 53, 53, 1);
	border-radius: 20px;
	color: white;
}
.wpb_call_to_action .wpb_button:hover { /* Hardcoded */ background-color: #A62D2D; color: white; }

.wpb_button { 
	text-shadow: none!important; 
	font-size: 0.876em!important;
	font-weight: 600;
	display: inline-block!important;
	padding: 7px 40px!important;
	width: 0 auto!important;
}

.wpb_button.wpb_btn-mini { padding: 5px 20px!important; }
.wpb_button.wpb_btn-small { padding: 6px 30px!important; }
.wpb_button.wpb_btn-default { padding: 7px 40px!important; }
.wpb_button.wpb_btn-large { padding: 8px 50px!important; }


.wpb_row { margin-bottom: 30px; }
.wpb_wrapper .wpb_content_element:last-child { margin-bottom: 0; }

@media all and (min-width: 768px) {

	.vc_row.no-margins {
		margin-left: -50px;
		margin-right: -50px;
	}

	.wpb_image_grid .wpb_image_grid_ul .isotope-item {
		max-width: 25%!important;
	}

	.wpb_tabs .wpb_tabs_nav li {
		padding-right: 12px!important;
		padding-left: 12px!important;
	}

}

@media all and (min-width: 1024px) {



}