/* Woocommerce Buttons */

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {
    border-radius: 3px;
    text-shadow: none!important;
    font-size: 0.846em;
    /* Hardcoded */
    background: #c93535;
}
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover {
    /* Hardcoded */
    background: #c93535;
    opacity: .9;
}

.woocommerce input.button.alt { /* Hardcoded */ background: #c93535; }
.woocommerce input.button.alt:hover { /* Hardcoded */ background: #A32C2C; }

/* WooCommerce Tables */

.woocommerce table.shop_table, .woocommerce-page table.shop_table { border: none; }
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td, .woocommerce table.shop_table th, .woocommerce-page table.shop_table th { padding: 6px; padding-left: 0; }
.woocommerce table.shop_table td a, .woocommerce-page table.shop_table td a { text-decoration: none; line-height: 1.2; }
.woocommerce-page table.shop_table td { line-height: 1.3; }
.woocommerce #content table.cart td.actions > input, .woocommerce table.cart td.actions > input, .woocommerce-page #content table.cart td.actions > input, .woocommerce-page table.cart td.actions > input {
    display: block;
    width: 100%!important;
    margin-bottom: 5px;
}
.woocommerce-page table.cart td.actions { padding-right: 0; }

.woocommerce #content table.cart td.actions input[name="apply_coupon"] { width: 50%!important; }
.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
    font-weight: 600;
    color: black;
}
.cart_totals > h2 { display: none; }
.woocommerce .quantity, .woocommerce #content .quantity, .woocommerce-page .quantity, .woocommerce-page #content .quantity { 
    height: 24px;
    margin: 0;
}

/* Cart */

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
	width: 35%;
}

#coupon_code {
    height: 30px;
    display: block;
    line-height: 30px;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.shipping_calculator h2 { font-size: 14px; text-align: right; }
.shipping_calculator h2 a { text-decoration: none; }

.shipping-calculator-form select {
	padding: 8px;
}
.shipping-calculator-form input[type="text"] {
	border: 1px solid #cecece;
}

/* Checkout */

#order_review_heading { margin-top: 35px; }
.form-row { border: 1px solid #eceded; }
#billing_country_field, #billing_state_field { border: none; }

.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li { list-style: none; position: relative; }
.woocommerce #payment div.form-row, .woocommerce-page #payment div.form-row { border: none; }

.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li {
	min-height: 35px;
}
.woocommerce #payment ul.payment_methods li input, .woocommerce-page #payment ul.payment_methods li input {
	display: block;
	position: absolute;
	height: 12px;
	width: 12px;
	top: 13px;
	-webkit-appearance: radio;
	-moz-appearance: radio;
}
.woocommerce #payment ul.payment_methods li label, .woocommerce-page #payment ul.payment_methods li label { 
	margin-left: 15px; 
	cursor: pointer;
	position: relative;
	top: 5px;
}

/* Thank You page */

.woocommerce ul.order_details, .woocommerce-page ul.order_details {
	background-color: #ececec;
	padding: 20px;
	border-radius: 4px;	
}
.woocommerce .order_details li strong, .woocommerce-page .order_details li strong {
	padding-top: 5px;
}

/* Woocommerce Messages */

.woocommerce .woocommerce-message {
    border-radius: 2px;
    position: relative;
    padding-right: 120px!important;
    box-sizing: border-box;
    line-height: 1.4;
    color: rgb(147, 147, 147);
    box-shadow: none;
}   

.woocommerce-message a.button {
    border-radius: 3px;
    height: 28px;
    line-height: 28px;
    width: auto;
    top: 50%;
    margin-top: -14px;
    position: absolute;
    right: 15px;
    box-sizing: border-box;
    padding: 0 20px;
    background: #8fae1b;
    text-align: center;   
}
.woocommerce-message a.button:hover { background: #748E14; }
.woocommerce-message a.button:active { top: 50%; }

/*************************/
/*    Single Product     */
/*************************/

.single-product #site-body { background: #fff; }

/* Images and thumbnails */
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
	margin-bottom: 1em;
}
.woocommerce div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce-page #content div.product div.images img {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.woocommerce div.product div.images div.thumbnails, .woocommerce #content div.product div.images div.thumbnails, .woocommerce-page div.product div.images div.thumbnails, .woocommerce-page #content div.product div.images div.thumbnails {
	padding: 5px;
}
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
	margin: 0;
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
}

/* Summary */
.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {
	padding: 10px 20px 0 20px;
	box-sizing: border-box;
	margin-bottom: 0;
}

h1.product_title {
	font-size: 1.69em;
    display: inline;
    line-height: 1.4;
    margin-bottom: 5px;
}


.woocommerce .price { 
    display: block;
    padding-left: 5px;
    margin-bottom: 30px;
    margin-top: 0;
}
.single-product .price { margin-bottom: 0; }

.product_meta { padding-bottom: 10px; }
.product_meta .posted_in { font-weight: 600; }
.product_meta .posted_in a {
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    line-height: 14px;
}

.woocommerce .price ins { text-decoration: none; }
.woocommerce .price .amount {
	display: inline;
	font-size: 1.5em;
	/* Hardcoded */
	color: #c93535; 
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	padding-top: 0; padding-bottom: 0;
}

.woocommerce div.product form.cart div.quantity { 
	width: 40%;
	height: 40px;
}

.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus,
.woocommerce .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce-page #content .quantity .plus {
	width: 33%;
	box-shadow: none;
	border-radius: 0;
	background: #f0f0f0;
	height: 100%;
	border: 1px solid #c7c0c7;
	margin: 0;
	color: #000;
	outline: none;
	text-shadow: none;
}
.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus {
	left: 0;
}
.woocommerce #content .quantity .minus:hover, .woocommerce #content .quantity .plus:hover, .woocommerce .quantity .minus:hover, .woocommerce .quantity .plus:hover, .woocommerce-page #content .quantity .minus:hover, .woocommerce-page #content .quantity .plus:hover, .woocommerce-page .quantity .minus:hover, .woocommerce-page .quantity .plus:hover {
    background: #CDCDCD;
    background: -webkit-gradient(linear,left top,left bottom,from(#f7f6f7),to(#CDCDCD));
    background: -webkit-linear-gradient(#f7f6f7,#CDCDCD);
}
.woocommerce .quantity input.qty {
	left: 33%;
	position: relative;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	height: 100%;
	width: 34%;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}
.woocommerce .woocommerce-product-rating, .woocommerce-page .woocommerce-product-rating {
    margin: 5px 0 0px 0;
}
.woocommerce-page div.product form.cart .button {
	background: #c93535;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    height: 40px;
    width: 57%;
    float: right;
    text-transform: uppercase;
}

/* Tabs (Content, Reviews) */
#tab-description { margin-bottom: 0; padding-bottom: 30px; }
.woocommerce ul.tabs { display: none; }
.woocommerce-tabs .panel { display: block!important; }

/* Reviews */
#toggle-comments-wrapper, #toggle-reviews-wrapper { display: block; overflow: hidden; }
h2#toggle-reviews, h2#toggle-comments {
    font-family: "Montserrat", sans-serif;
	display: inline-block;
	font-size: 1em;
	text-transform: uppercase;
	padding: 0;
	position: relative;
}
h2#toggle-comments:after, h2#toggle-reviews:after {
    position: absolute;
    left: calc( 100% + 10px );
    top: 50%;
    content: " ";
    display: block;
    width: 10000px;
    height: 1px;
    background: #d8d8d8;
}
#tab-reviews {
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
}
#reviews {
	display: block;
	padding-top: 0;
    margin-top: 0;
	padding-bottom: 0;
}
#reviews #reply-title { display: none; }

/* Review form */
#review_form_wrapper {
    margin-left: -20px;
    margin-right: -20px;
    padding: 30px 20px;
    background: #1d212d;
    margin-top: 15px;
}
.woocommerce #review_form #respond p, .woocommerce-page #review_form #respond p { margin: 0!important; }
.woocommerce #reviews #comment, .woocommerce-page #reviews #comment { height: 28px; margin-bottom: 0; }
.woocommerce-page #review_form #respond p.comment-form-rating, .woocommerce-page #review_form #respond p.comment-form-comment { margin-bottom: 0; }

.woocommerce-page p.form-comment:after, p.comment-form-comment:after { bottom: 24px; background: rgba(133, 133, 113, .5); }
.woocommerce-page p.comment-form-comment:after { bottom: 16px; }

p.comment-form-rating { 
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}
p.woocommerce-noreviews {
	margin-bottom: 30px!important;
	font-style: italic;
	color: rgb(152, 152, 152);
}

/* Stars */
.woocommerce p.stars a.star-1:after, .woocommerce p.stars a.star-2:after, .woocommerce p.stars a.star-3:after, .woocommerce p.stars a.star-4:after, .woocommerce p.stars a.star-5:after, .woocommerce-page p.stars a.star-1:after, .woocommerce-page p.stars a.star-2:after, .woocommerce-page p.stars a.star-3:after, .woocommerce-page p.stars a.star-4:after, .woocommerce-page p.stars a.star-5:after {
	font-size: 12px;
	color: rgb(166, 166, 166);
}
.woocommerce p.stars a.star-1, .woocommerce-page p.stars a.star-1,  .woocommerce p.stars a.star-2, .woocommerce-page p.stars a.star-2, .woocommerce p.stars a.star-3, .woocommerce-page p.stars a.star-3, .woocommerce p.stars a.star-4, .woocommerce-page p.stars a.star-4 { 
	margin-right: 10px; 
    border-color: rgba(255, 255, 255, .25);
}
.woocommerce p.stars a.star-5, .woocommerce-page p.stars a.star-5 { margin-right: 0; }
.woocommerce p.stars a.star-1, .woocommerce-page p.stars a.star-1 { width: 22px; margin-left: 3px; }
.woocommerce p.stars a.star-2, .woocommerce-page p.stars a.star-2 { width: 35px; }
.woocommerce p.stars a.star-3, .woocommerce-page p.stars a.star-3 { width: 49px; }
.woocommerce p.stars a.star-4, .woocommerce-page p.stars a.star-4 { width: 63px; }
.woocommerce p.stars a.star-5, .woocommerce-page p.stars a.star-5 { width: 68px; }
.woocommerce-page #respond input#submit {
	margin-top: 20px;
	padding-left: 25px; padding-right: 25px;
}

/* Reviews list */
.woocommerce #reviews #comments ol.commentlist, .woocommerce-page #reviews #comments ol.commentlist { padding-top: 0; }
.woocommerce #reviews #comments ol.commentlist li, .woocommerce-page #reviews #comments ol.commentlist li  {
	list-style: none;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	margin-left: 0;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar {
	display: none;
}

/* Checkout */
.form-row { border: none; }
.form-row input, .form-row textarea { 
    border: 1px solid #e6e6e6; 
    padding: 6px 4px;
}
.woocommerce form .form-row .required, .woocommerce-page form .form-row .required { font-weight: 400; }
.woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot td, .woocommerce-page table.shop_table tfoot th {
    color: black;   
    font-weight: normal;
}
.woocommerce table.shop_table span.amount { color: black; font-weight: 600; }
.woocommerce h3 { margin-top: 20px; }

/* Thank you page */
.woocommerce .order_details li, .woocommerce-page .order_details li { margin-bottom: 1em; }


/*************************/
/*    Shop - Tablet      */
/*************************/

@media all and (min-width: 768px) {

    .single-product #page-body { overflow-y: scroll; }
	.woocommerce-page div.product div.summary, .woocommerce-page div.product div.images { width: 100%; }
    .woocommerce-page div.product div.summary { padding-left: 50px; padding-right: 50px; }
	.woocommerce div.product form.cart { width: 50%; }
    #tab-reviews { 
        margin-left: -50px;
        margin-right: -50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #review_form_wrapper {
        margin-left: -50px;
        margin-right: -50px;
        padding: 40px 50px;
    }
    .single-product section.comments {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: -50px;
        margin-right: -50px;
    }
    
	.woocommerce #review_form #respond p.comment-form-author, .woocommerce #review_form #respond p.comment-form-email { 
		width: 48.5%;
		float: left;
	}
    .woocommerce #review_form #respond p.comment-form-email { margin-left: 3%!important; }
	.woocommerce #review_form #respond p.comment-form-author { margin-right: 3%; }
    .woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar {
        display: block;
        height: 55px;
        width: 55px;
        padding: 0;
        border: none;
    }
    
    
    /* Cart */
    .woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
        padding-bottom: 0;   
    }
    .woocommerce table.shop_table td, .woocommerce-page table.shop_table td, .woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .woocommerce #content table.cart td.actions > input, .woocommerce table.cart td.actions > input, .woocommerce-page #content table.cart td.actions > input, .woocommerce-page table.cart td.actions > input {
        margin-bottom: 12px;
        margin-top: 12px;
        border-collapse: collapse;
        height: 38px;
    }
    .woocommerce-cart .checkout-button { margin-top: 0!important; }
    .woocommerce-cart div.coupon { width: 100%; margin-bottom: 12px; }
    .woocommerce-cart #coupon_code { width: 25%; }
    .woocommerce-cart input[name="apply_coupon"] { float: left!important; width: 25%!important; }
    
    /* Thank You page */
    .woocommerce .order_details li, .woocommerce-page .order_details li { margin-bottom: 0; }
}


/*************************/
/*    Shop - Desktop     */
/*************************/

@media all and (min-width: 1024px) {

    .single-product #page-body {
        width: calc( 100% - 240px );
        overflow: hidden;
    }
    .woocommerce div.product { height: 100%; }
    .woocommerce-page div.product div.summary, .woocommerce-page div.product div.images { 
        position: relative;
        width: 50%;
        box-sizing: border-box;
        min-height: 100%;
        margin: 0;
        padding: 40px 35px;
        overflow-y: scroll;
        max-height: 100%;
    }
    .woocommerce-page div.product div.summary { padding-bottom: 0; }
    .woocommerce div.product form.cart { 
        margin-top: 5px; 
        margin-bottom: 0;
        padding-bottom: 30px;
    }
    .woocommerce-page div.product div.images:after {
        content: " ";
        position: absolute;
        display: block;
        width: 1px; height: calc( 100% - 40px );
        top: 40px;
        right: 0;
        background: #eceded;
    }
    .woocommerce div.product div.images div.thumbnails, .woocommerce #content div.product div.images div.thumbnails, .woocommerce-page div.product div.images div.thumbnails, .woocommerce-page #content div.product div.images div.thumbnails {
        padding-left: 0;
        padding-right: 0;
        margin-right: -5px;
        margin-left: -5px;
    }
    
    .woocommerce div.product form.cart { width: 100%; }
    
    /* Sidebar */
    body.single-product .sidebar {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        width: 240px;
        opacity: 1;
        visibility: visible;
    }
    body.single-product #toggle-sidebar { display: none; }
    
    /* Reviews */
    #tab-reviews {
        margin-left: -35px;
        margin-right: -35px;
        padding-left: 35px;
        padding-right: 35px;
    }
    h2#toggle-reviews {
        margin: 0;
    }
    .single-product section.comments {
        padding-left: 35px;
        padding-right: 35px;
        margin-left: -35px;
        margin-right: -35px;
    }
    #review_form_wrapper {
        background: #f6f6f6;
        margin-left: -35px;
        margin-right: -35px;
        padding: 40px 35px;
    }
    section.comments h6 { color: black; }
    .woocommerce p.stars a.star-1, .woocommerce p.stars a.star-2, .woocommerce p.stars a.star-3, .woocommerce p.stars a.star-4, .woocommerce p.stars a.star-5 { border-color: rgba(133, 133, 113, .5); }
    
    .woocommerce-page .sidebar ul.product-categories li a { line-height: 35px; }
    .woocommerce-page.single .sidebar ul.product-categories li a { line-height: 25px; }
    
    .cat-item-none { 
        color: rgba(255, 255, 255, 0.5);
        line-height: 30px;
        font-weight: normal!important;
        font-style: italic!important;
        border: none!important;
    }
    
    /* Cart */
    div.coupon { width: 100%; margin-bottom: 12px; }
    
    .woocommerce span.onsale, .woocommerce-page span.onsale { display: none;  }
    
    .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info { box-shadow: none; }
}

@media all and (min-width: 1280px) {
    body.single-product .sidebar { width: 280px; }
    .single-product #page-body { width: calc( 100% - 280px ); }
    .woocommerce div.product form.cart { width: 50%; }
}